.expense-item{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    /* box-shadow: 10px 2px 8px rgba(206, 20, 20, 0.25);  */
    padding: 0.5rem;
    margin: 1rem 0;
    /* border-radius: 12px; */
    background-color: rgb(77, 71, 61);

}   

.expense-item_description{
    display: flex;
    flex-direction: row;
    gap: 1 rem;
    align-items: flex-end;
    /* flex-flow: column-reverse ; */
    justify-content: flex-start;
    flex: 1;
}

.expense-item h2 {

    color: white;
    font-size: 1 rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

.expense-item_price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 15px;
}